<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sağlıklı Yaşam</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top  navbar-expand-sm  text-white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="nav-item ">
                        <a href="/Egzersizlerim/Index">Egzersiz Listem</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/EgzesizOnerileri/Index">Egzersizler</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/YemekTarifi/Index"> Yemek Tarifleri</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link">Smoothie</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link ">Kalori Bulma</a>
                    </li>

                    <li class="nav-item ">
                        <a href="#" class="nav-link ">Kalori Hesaplama</a>
                    </li>

                    <li class="nav-item ">
                        <a href="/magaza/Index" class="nav-link ">Mağaza</a>
                    </li>

                    <li class="nav-item ">
                        <a href="#" class="nav-link ">Müzik</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            Hesaplamalar
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="/idealkilohesaplama/idealkilo">İdeal Kilo Hesaplama</a><br />

                            <a class="dropdown-item" href="#">Bazal Metabolizma Hızı Hesaplama</a><br>

                            <a class="dropdown-item" href="/kitle/kitle">Kütle İndeksi Hesaplama</a><br />

                            <a class="dropdown-item" href="#">Yağ Oranı Hesaplama</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sağlıklı Yaşam</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
